* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Baloo Da 2', cursive;
  font-size: 62.5%;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: header2;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 1rem;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.btn-hover {
  -webkit-transition: ease-in-out 0.6s;
  transition: ease-in-out 0.6s;
}

.btn-hover:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro h2 {
  font-family: 'Concert One', cursive;
  font-size: 5rem;
  padding-top: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#38d39f), to(#38a4d3));
  background: linear-gradient(left, #38d39f, #38a4d3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.intro h3 {
  font-size: 6rem;
  padding: 2rem 0rem;
}

.intro p {
  width: 80%;
  padding: 2rem;
  color: linear-gradient(left, #38d39f, #38a4d3);
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
}

.intro-social a {
  margin-right: 5rem;
}

#epi {
  margin: 2rem 0 1rem 2rem;
  position: absolute;
  top: 10%;
  right: 0%;
  height: 50%;
  width: 50%;
}

.active {
  background: #2c2c2c;
  color: white;
  padding: 1rem 3rem;
  border-radius: 3rem;
}

.active:hover {
  background: gray;
}

#flower {
  -webkit-transform: rotateY(40deg);
          transform: rotateY(40deg);
  -webkit-animation: two 2s infinite;
          animation: two 2s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  background-color: #831a4a;
}

@-webkit-keyframes two {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(10deg);
            transform: rotateY(10deg);
  }
}

@keyframes two {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(10deg);
            transform: rotateY(10deg);
  }
}

#box {
  -webkit-animation: skew 3s infinite;
          animation: skew 3s infinite;
  -webkit-transform: skew(4deg);
          transform: skew(4deg);
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes skew {
  0% {
    -webkit-transform: skewX(4deg);
            transform: skewX(4deg);
  }
  100% {
    -webkit-transform: skewX(-4deg);
            transform: skewX(-4deg);
  }
}

@keyframes skew {
  0% {
    -webkit-transform: skewX(4deg);
            transform: skewX(4deg);
  }
  100% {
    -webkit-transform: skewX(-4deg);
            transform: skewX(-4deg);
  }
}

#html {
  -webkit-transform: rotateY(100deg);
          transform: rotateY(100deg);
  -webkit-animation: three 2s infinite;
          animation: three 2s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes three {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
  }
}

@keyframes three {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
  }
}

#css {
  -webkit-transform: rotateY(100deg);
          transform: rotateY(100deg);
  -webkit-animation: three 2s infinite;
          animation: three 2s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@keyframes three {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
  }
}

.projects {
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3), 0px 20px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3), 0px 20px 40px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 80%;
  margin: 2rem auto;
  min-height: 80vh;
  border-radius: 3rem;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects h2 {
  margin: 2rem 0;
}

.pro-1,
.pro-2,
.pro-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

#bc-img {
  background-image: url("/img/splash.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.prj-img {
  margin: auto;
  width: 30vw;
  height: 40vh;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3), 0px 20px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3), 0px 20px 40px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.prj-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.form-section {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1rem;
}

.form-section form {
  padding: 1rem 8rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3), 0px 20px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3), 0px 20px 40px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2rem;
}

.form-section form input,
.form-section form textarea {
  margin: 1rem;
  border-radius: 1rem;
}

.form-section form input:focus,
.form-section form textarea:focus {
  outline: 2px solid black;
}

.form-section form textarea {
  font-family: sans-serif;
  font-size: 1rem;
  border-radius: 2rem;
}

.form-section form button {
  width: 80%;
  padding: 1rem;
  background-color: #154353;
  color: white;
  border-radius: 4rem;
}

.form-section form button:focus {
  background: #6fdbdf;
}

.contact-splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

footer {
  background: #333333;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
}

footer h4 {
  padding-top: 1.5rem;
}

footer h4:hover {
  color: #d6531f;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  .main-head {
    padding-top: 1rem 0;
  }
  nav {
    width: 100%;
  }
  .logo {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 535px) {
  html {
    font-size: 30%;
  }
  svg {
    height: 60%;
  }
  .main-head {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
  }
  nav {
    margin: 1rem;
  }
  nav .logo {
    padding-bottom: 2rem;
  }
  .intro-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */